# libraries used
pandas
numpy
scipy
seaborn
matoplotlib
tkinter

# how to Run---
1) Install all the above Dependencies. 
2) copy the Data_Stats.py file 
3) paste in in your favourite IDE (pycharm/ Spyder/ or Jupyter).
4) Run
5) most your results will be appear in your IDE Terminal.


# pros
1) works best when all the columns has numeric data

# cons
2) not much useful when we have many catagorial variables, as we can't apply Mathmatical Operations (Addition,Multiplication,Subtraction,Division) in the GUI.
